@model IEnumerable<VideoStreamer.Models.MovieDirectory>

@{
    ViewBag.Title = "Movie List";
}


<h2>MovieDirectory</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Name
            <table>
            @foreach (var movie in item.Movies)
            {
                <tr>
                    <td>
                        @movie.Title
                        <get>@Html.ActionLink("Watch Video","Get","VideoStream")</get>
                    </td>
                </tr>
                
            }
            </table>
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
